<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script type="text/javascript" src="chart.js"></script>
	<h3 style="text-align: center">reputation builder</h3>
	{{#if user_fb}}
	<div>
	 Facebook display name :{{user_fb}}
	</div>
	{{/if}}
	{{#if user_twitter}}
	<div>
	 Twitter display name :{{user_twitter}}
	 </div>
	
	<div><canvas id="rating" width="500" height="400"></canvas></div>
		<div><canvas id="rating1" width="500" height="400"></canvas></div>

	{{/if}}
      <a button class='btn btn-primary' href = '/auth/twitter' style="display:{{display_acc_to_twitter }}">login twitter</button>
	
      <a button class='btn btn-primary' href = '/auth/facebook' style="display:{{display_acc_to_fb}}">login facebook </button>
    <script>
		 var ctx = document.getElementById('rating').getContext('2d');
		var ctx1 = document.getElementById('rating1').getContext('2d');

		 data = {
    datasets: [{
        data: [{{data_fb}},{{data_twitter}}, parseInt({{data_fb}})+parseInt({{data_twitter}})],
        
        backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B"],
        
            }],
            
    labels: [
        'Facebook',
        'Twitter',
        'Total'
            ],
			options: {
                responsive: false
            }} ,
            
        
            
 myPieChart = new Chart(ctx1,{
    type: 'doughnut',
    data: data,
	options: {
                responsive: false
            }
    });

        
     myPieChart = new Chart(ctx,{
        type: 'bar',
        data: data,
		options: {
                responsive: false
            }
        });
    
	</script>
	
</body>
</html>
