<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<p>Your Friend's username : {{username}}</p>
<div><canvas id="rating" width="500" height="400"></canvas></div>
		<div><canvas id="rating1" width="500" height="400"></canvas></div>

<script>

    var ctx = document.getElementById('rating').getContext('2d');
		var ctx1 = document.getElementById('rating1').getContext('2d');

		 data = {
    datasets: [{
        data: [{{data_fb}},{{data_twitter}}, parseInt({{data_fb}})+parseInt({{data_twitter}})],
        
        backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B"],
        
            }],
            
    labels: [
        'Facebook',
        'Twitter',
        'Total'
            ],
			} ,
            
        
            
 myBarChart = new Chart(ctx1,{
    type: 'bar',
    data: data,
	options: {
                responsive: false,
                legend : {
                    display : false
                }
            }
    });

        
     myPieChart = new Chart(ctx,{
        type: 'doughnut',
        data: data,
		options: {
                responsive: false
            }
        });
    
	</script>
	